@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local("Roboto Regular"), url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2'),
      url('../fonts/roboto-v30-cyrillic-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/roboto-v30-cyrillic-700.woff2') format('woff2'),
      url('../fonts/roboto-v30-cyrillic-700.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black"), local("Roboto-Black"), local("Roboto Heavy"), local("Roboto-Heavy"), url('../fonts/roboto-v30-cyrillic-900.woff2') format('woff2'),
      url('../fonts/roboto-v30-cyrillic-900.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}