.footer {
  padding: 25px 0 50px;
}

.footer__container {
  background-color: #F1F1F1;
  border-radius: 10px;
  padding: 25px 30px 0 30px;
  height: 385px;
}

.footer__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.footer__list {
  padding-left: 35px;
  list-style-type:"— ";
  margin-bottom: 30px;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__text {
  padding-left: 15px;
  line-height: 24px;
}